* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: Rubik, sans-serif;
    font-size: 0.8em;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 8px;  
}

.nav-links {
    margin: 10px;
    align-self: center;
}
a {
    text-decoration: none;
    color: gray;
}

a:hover {
    text-decoration: underline;
}

.menu-icon {
    height: 20px;
}

.user-icon {
    border-radius: 50%;
}

.main-body {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
    align-items: center;
    margin-top: -7.5rem;
}

.google-img {
    margin: 1rem auto;
}

.search-div {
    width: 42vw;
    padding: 2px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    border-radius: 50px;
    border: 1px solid rgb(212, 211, 211);
    align-items: center;
    margin: 1rem;
}

.search-div img {
    height: 25px;
}

img.search {
    height: 15px;
}

input {
    width: 90%;
    padding: 0.7em;
    border: none;
    font-size: 16px;
    outline: none;
}


button {
    color:rgb(78, 78, 78);
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    padding: 0.7em 1rem;
    margin: 1em 0.3em;
    text-transform: capitalize;
    background:rgb(248, 248, 248);
}

.main-bottom {
    margin:1em auto;
}

.main-bottom a {
    margin: auto 3px;
    color: rgb(26, 0, 175);
}


.footer {
    color: gray;
    font-size: 1.1em;
    align-self: flex-end;
    background: rgb(241, 241, 241);
}
.first-footer {
    height: 50px;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 17px;
    padding-left: 40px;
}



.second-footer {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

.first {
    margin-left:  30px;
}

.second {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second img {
    height: 1.1em;
    margin-right: 5px;
}

.last {
    display: flex;
    margin-right: 30px;
    align-items: flex-end;
    margin-left: 14vw;
}
.footer-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
    text-align: center;
}

.footer-links {
    margin: auto 10px;
}